:root {

   --primary-color--LightCyan: hsl(193, 38%, 86%);
   --primary-color--NeonGreen: hsl(150, 100%, 66%);

   --second-color--GrayishBlue: hsl(217, 19%, 38%);
   --sceond-color--DarkGrayishBlue: hsl(217, 19%, 24%);
   --sceond--color--DarkBlue: hsl(218, 23%, 16%);
}

/* 
   Font size (quote): 28px
   weigth: 800
 */
* {
   margin: 0;
   padding: 0;

   box-sizing: content-box;
}

body {
   font-family: 'Manrope', sans-serif;

   background-color: var(--sceond--color--DarkBlue);
}

.card {
   height: 325px;
   width: 345px;

   padding: 1rem;

   background-color: var(--sceond-color--DarkGrayishBlue);
   text-align: center;
   position: absolute;

   top: 50%;
   left: 50%;

   transform: translate(-50%, -50%);

   border-radius: 1rem;
}

.card__advice {
   text-transform: uppercase;
   color: var(--primary-color--NeonGreen);

   letter-spacing: 0.3rem;
   font-size: 0.75rem;

   padding: 1.2rem;
}

.card__quote {
   font-size: 1.75rem;
   color: var(--primary-color--LightCyan);

   line-height: 1em;
}

.card__footer {
   position: absolute;
   bottom: 0;
   width: 100%;
}

.card__footer__divider {
   width: 100%;
   height: 32px;
   background-image: url('./images/pattern-divider-mobile.svg');
   background-repeat: no-repeat;

   position: relative;
   left: 1.5rem;
}

.card__button {
   background-color: var(--primary-color--NeonGreen);

   width: 64px;
   height: 64px;

   border-radius: 50%;

   display: flex;
   justify-content: center;
   align-items: center;


   position: relative;
   left: 140px;
   top: 30px;
}

.card__button:hover {
   box-shadow: 0px 0px 15px .8px var(--primary-color--NeonGreen);
}

.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}


@media screen and (min-width: 1440px) {
   .card {
      width: 540px;
      height: 335px;
   }

   .card__quote {
      margin: 2rem;
   }

   .card__button {
      left: 233px
   }

   .card__footer__divider {
      background-image: url('./images/pattern-divider-desktop.svg');
      left: 2.5rem;
   }
}